
body {
    margin: 0;
    padding: 0;
}

.calculadora {

background: rgb(109, 157, 230);
width: 200px;
color: rgb(161, 108, 108);
padding: 15px;
text-align: center;
box-shadow: 2px 2px rgb(65, 106, 240);
}
.calculadoraESG {

    background: rgb(243, 45, 45);
    width: 200px;
    color: rgb(214, 31, 31);
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px rgb(0, 0, 0);
    }
.calculadora input{
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.calculadoraESG input{
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.calcF {
    display: none;
}
#calcFin{
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
.calculadora input:focus{
    background: white;
    color: black;
}
#psTotal {
background: rgb(47, 113, 175);
padding: 10px;
margin-bottom: 5px;
}

#btnCalc {
    background: rgb(170, 93, 224);
    margin-top: 20px;
    padding: 5px;
}

#btnCalc:hover {
    background: rgb(156, 34, 180);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.spmes {
width: 100%;
background: rgb(228, 89, 112);
color: rgb(255, 255, 255);
border-radius: 4px;
border-style: dashed;
border-color: rgb(241, 105, 180);
border-width: 2px ;
margin-top: 10px;
}
